.Slider {
  width: 100%;
  position: relative;
}

.Slide {
  width: 100vw;

  img {
    width: 100vw;
  }
}

.slides__container {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.progress-bar {
  height: 5px;
  width: 0;
  background-color: #fec32b;
}
